.blog {
  @include inline-block(90%, top);
  @include respond-to(small large) {
    @include inline-block(100%, top);
    padding: gratio(3);
  }
  @include respond-to(mega) {
    max-width: gratio(12);
  }
  section.post {
    margin-bottom: gratio(7);
    padding-top: gratio(7);
    font-size: 0;
    position: relative;
    border-top: 1px solid rgba(color(purple), 0.2);
    &:nth-child(2) {
      border-top: 0;
      padding-top: 0;
    }
    .featured-image {
      @include respond-to(small large) {
        @include inline-block(100%, top);  
      }
      @include inline-block(50%, top);
      height: gratio(9);
      overflow: hidden;
      text-align: center;
      position: relative;
      img {
        @include absolute-center(true, true);
        width: auto;
        height: 150%;
      }
    }
    h1 {
      @include respond-to(small large) {
        @include inline-block(100%, top);  
        position: relative;
        left: 0;
        bottom: 0;
      }
      @include respond-to(mega) {
        left: gratio(4);  
      }
      @include button(rgba(color(purple), 0.9), white);
      display: inline-block;
      width: 50%;
      padding: gratio(4);
      outline: 1px solid rgba(white, 1);
      outline-offset: - gratio(2);
      position: absolute;
      left: gratio(4);
      bottom: - gratio(4);
      &:hover {
        @include boxShadowBig();
        transform: translateY(- gratio(0));
      }
      a {
        @include respond-to(small large) {
          font-size: fgratio(2);
        }
        font-size: fgratio(3);
        text-decoration: none;
        color: color(white);
        text-shadow: none;
      }
    }
    .content {
      @include respond-to(small large) {
        display: none;
      }
      @include inline-block(50%, top);
      padding-left: gratio(5);
      section.excerpt {
        font-size: fgratio(1);
        margin-bottom: gratio(3);
      }
      a.read-more {
        display: inline-block;
        font-size: gratio(4);
        line-height: 1.2;
        font-family: 'Botera TFE';
        color: color(purple);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  section.pagination {
    margin-bottom: gratio(5);
    a {
      @include buttonSolarWhite();
    }
  }
}