aside.main-menu {
  width: gratio(9);
  padding: gratio(3);
  display: inline-block;
  vertical-align: top;
  position: relative;
  // border-right: 1px solid;
    &.sticky {
    @include z-index(second-level);
    width: gratio(9);
    position: fixed;
    left: 0;
    top: 0;
    +.single-product, +section.main-container {
      left: gratio(9);
    }
  }
  img.shadow {
    display: none;
    @include z-index(second-level);
    position: absolute;
    top: 0;
    right: - rem(62px);
    height: 100vh;
    filter: opacity(60%);
  }
  section.brand {
    margin-bottom: gratio(5);
    padding: 0 gratio(3);
    @include respond-to(small wide) {
      width: 50%;
    }
  }
  nav {
    ul {
      li {
        margin-bottom: gratio(3);
        text-align: center;
        position: relative;
        a {
          display: inline-block;
          color: color(blueberry);
          text-decoration: none;
          font-family: 'Botera TFE';
          font-size: gratio(4); // text-shadow: 0 1px 0 #fff;
          position: relative;
          span {
            position: relative;
            z-index: 1;
          }
          &:hover {
            text-shadow: none; // color: color(blue-berry);
          }
          .stain {
            @include z-index(underground);
            position: absolute;
            transition: 0.4s ease;
            opacity: 0;
            filter: contrast(130%);
              margin-left: 0;
              top: - 5px;
              width: 120%;
            transform: translateX(- gratio(0));
          }
          &:hover {
            .stain {
              display: block;
              opacity: 0.6;
              transform: translateX(-10px);
            }
          }
        }
        &.spacer {
          margin-bottom: gratio(6);
        }
      }
    }
    @include respond-to(small wide) {
      background-color: #ff0;
    }
  }
}