aside.main-menu {
  padding: gratio(3);
  display: inline-block;
  vertical-align: top;
  position: relative;
  @include respond-to(small large) {
    transform: translateY(-999px);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../img/sf-background3.jpg");
    background-size: contain;
    background-attachment: fixed;
    transition: 0.2s ease;
    z-index: 9999;
  }
  @include respond-to(large mega) {
    width: gratio(9);
  }
  @include respond-to(mega) {
    width: gratio(9);
  } // border-right: 1px solid;
  &.displace {
    transform: translateY(900px);
    width: 100%;
    z-index: 9999;
  }
  &.sticky {
    @include z-index(second-level);
    width: gratio(9);
    position: fixed;
    left: 0;
    top: 0;
    + .single-product,
    + section.main-container {
      left: gratio(9);
      @include respond-to(small large) {
        left: 0;
      }
    }
  }
  img.shadow {
    display: none;
    @include z-index(second-level);
    position: absolute;
    top: 0;
    right: - rem(62px);
    height: 100vh;
    filter: opacity(60%);
  }
  section.brand {
    margin-bottom: gratio(5);
    padding: 0 gratio(3);
    @include respond-to(small large) {
      @include container(50%);
      margin-bottom: gratio(5);
    }
    #mobile-menu-close {
      display: none;
      @include respond-to(small large) {
        display: inline-block;
        position: absolute;
        top: gratio(3);
        right: gratio(3);
        img {
          width: gratio(3);
        }
      }
    }
  }
  nav {
    ul#checkout-menu {
      display: none;
      &.enabled {
        display: block;
      }
      img {
        @include inline-block(gratio(3), unset);
        margin-right: gratio(1);
      }
    }
    ul#primary-menu,
    ul#checkout-menu {
      &.disabled {
        display: none;
      }
      li {
        margin-bottom: gratio(3);
        text-align: center;
        position: relative;
        a {
          display: inline-block;
          color: color(blueberry);
          text-decoration: none;
          font-family: "Botera TFE";
          font-size: gratio(4); // text-shadow: 0 1px 0 #fff;
          position: relative;
          span {
            position: relative;
            z-index: 1;
          }
          &:hover {
            text-shadow: none; // color: color(blue-berry);
          }
          .stain {
            @include z-index(underground);
            position: absolute;
            transition: 0.4s ease;
            opacity: 0;
            filter: contrast(130%);
            margin-left: 0;
            top: -5px;
            width: 120%;
            transform: translateX(- gratio(0));
          }
          &:hover {
            .stain {
              display: block;
              opacity: 0.6;
              transform: translateX(-10px);
            }
          }
        }
        &.spacer {
          margin-bottom: gratio(6);
        }
      }
    }
    /*@include respond-to(small wide) {
      display: none;
    }*/
  }
}
