section.main-container {
  @include z-index(first-level);
  @include respond-to(small large) {
    display: inline-block;
    vertical-align: top;
    width: calc(100%);
    min-height: 100vh;
    position: relative;
  }
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 233px);
  min-height: 100vh;
  position: relative;
  section.content {
    height: calc(100vh - 58px);
    white-space: nowrap;
    // overflow-y: hidden; // overflow-x: hidden;
    max-height: calc(100vh - 47px); // padding: gratio(3);
    nav.products {
      @include respond-to(small large) {
        overflow-x: auto;
        width: 100%;
      }
      // @include respond-to(mega) {
      //   width: 220%;
      // }
      height: 100% !important;
      width: rem(2155px);
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: hidden;
      ul {
        position: relative;
        li.product {
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin-right: gratio(7);
          transform: translateY(30px);
          display: inline-block;
          // see more wines
          &.last {
            @include respond-to(small large) {
              margin-top: 90%;
              margin-right: gratio(3);
            }
            vertical-align: middle;
            margin-top: 20%;
            a {
              vertical-align: middle;
              // @include absolute-center(false, true);
            }
          }
          // hover bottle & seal
          &:hover {
            a {
              img {
                transform: translateY(-30px);
                @include z-index(second-level);
              }
            }
            // seal translate
            img.seal {
              opacity: 1;
              transform: translateX(-7rem);
            }
          }
          &:last-child {

          }
          a {
            position: relative;
            @include z-index(first-level);
            img {
              transition: 0.6s ease;
              @include z-index(second-level);
              &.bottle-mixtures {
                @include clipBottleMixtures();
                height: calc(100vh);
              }
              &.bottle-vina-rosa {
                @include clipBottleVinaRosa();
                height: calc(100vh);
              }
              &.bottle-elixir-cordis {
                @include clipBottleElixirCordis();
                height: calc(100vh + 80px);
              }
              position: relative;
            }
            &.see-more {
              background-color: color(blueberry);
              padding: gratio(4) gratio(6);
              font-size: fgratio(3);
              font-family: 'Botera TFE';
              outline: 1px solid rgba(white, 1);
              outline-offset: - gratio(2);
              color: white;
              display: inline-block;
              vertical-align: middle;
              text-decoration: none;
            }
          }
          &.enter {
            section.title {
              @extend .fade-in-left;
            }
          }
          &.exit {
            section.title {
              @extend .fade-out-left;
            }
          }
          img.seal {
            @include absolute-center(true, false);
            @include z-index(first-level);
            top: 0;
            opacity: 0;
            width: gratio(8);
            transition: 0.5s ease;
            transform: translateX(1rem);
          }
          section.title {
            @include absolute-center(true, false);
            @include z-index(underground);
            top: - gratio(3);
            background: color(blueberry);
            opacity: 0; // transition: 0.3s ease;
            h1 {
              padding: gratio(4) gratio(5);
              padding-left: gratio(6);
              font-size: fgratio(3);
              &.noble-cru {
                background: color(noble-cru);
              }
              &.o-positivo {
                background: color(o-positivo);
              }
              &.confabulario {
                background: color(confabulario);
              }
              &.vina-rosa {
                background: color(vina-rosa);
              }
              &.elixir-cordis {
                background: color(elixir-cordis);
              }
            }
            .add-cart {
              padding: gratio(3);
              padding-left: gratio(6);
              font-size: 0;
              outline: 1px solid rgba(white, 1);
              outline-offset: - gratio(2);
              span {
                @include inline-block(80%, middle);
                color: white;
                font-size: fgratio(1);
              }
              .img-container {
                @include inline-block(15%, middle);
                margin-left: gratio(2);
                img {
                  width: gratio(4);
                }
              }
            }
          } // botellas delgadas
          &.slim {
            img {
              // height: calc(100vh + 200px); // margin-bottom: - gratio(9);
            }
          }
          .stain {
            @include z-index(negative-underground);
            position: relative;
            transition: 4s ease;
            opacity: 0;
            transform: translateY(- gratio(0));
            img {
              // @include absolute-center(true, false);
              position: absolute;
              padding-left: gratio(4);
              width: 120%;
              bottom: gratio(0);
              &.noble-cru {
                width: 310px;
                left: -3.3rem;
                transform: translateY(-50px);
              }
              &.positivo {
                width: 310px;
                left: -3rem;
                transform: translateY(50px);
              }
              &.confabulario {
                width: 360px;
                right: -4.5rem;
                transform: translateY(-170px);
              }
              &.vina-rosa {
                width: 310px;
                left: -4rem;
                transform: translateY(-100px);
              }
              &.elixir {
                width: 350px;
                transform: rotate(16deg) translateY(-128px);
                left: -7.5rem;
              }
            }
          }
          &:hover {
            .stain {
              display: block;
              opacity: 1;
              transform: translateY(- gratio(4));
              img {
                // bottom: gratio(7);
              }
            }
          }
        }
      }
    }
  }
  /*@include respond-to(small) {
      display: none;
  }*/
}