section.main-container {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 233px);
  min-height: 100vh;
  position: relative;
  @include z-index(first-level);
  section.content {
    height: calc(100vh - 58px);
    white-space: nowrap;
    overflow-y: hidden; // overflow-x: hidden;
    max-height: calc(100vh - 47px); // padding: gratio(3);
    nav.products {
      height: 100% !important;
      width: 180%;
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: hidden;
      ul {
        li.product {
          position: relative;
          display: inline-block;
          vertical-align: top;
          margin-right: gratio(6);
          transform: translateY(30px);
          display: inline-block;
          &:hover {
            a {
              img {
                transform: translateY(-40px);
                @include z-index(second-level);
              }
            }
            // seal translate
            img.seal {
              opacity: 1;
              transform: translateX(-8rem);
            }
          }
          a {
            position: relative;
            @include z-index(first-level);
            img {
              transition: 0.6s ease;
              height: calc(107vh);
              &.slim {
                height: calc(100vh + 200px);
              }
              position: relative;
              @include z-index(second-level);
              @include clipBottleFat();
            }
          }
          &.enter {
            section.title {
              @extend .fade-in-left;
            }
          }
          &.exit {
            section.title {
              @extend .fade-out-left;
            }
          }
          img.seal {
            @include absolute-center(true, false);
            @include z-index(first-level);
            top: 0;
            opacity: 0;
            width: gratio(8);
            transition: 1s ease;
            transform: translateX(1rem);
          }
          section.title {
            @include absolute-center(true, false);
            @include z-index(underground);
            top: 0;
            background: color(blueberry);
            opacity: 0; // transition: 0.3s ease;
            h1 {
              padding: gratio(4) gratio(5);
              padding-left: gratio(6);
              font-size: gratio(5);
              &.noble-cru {
                background: color(noble-cru);
              }
              &.o-positivo {
                background: color(o-positivo);
              }
              &.confabulario {
                background: color(confabulario);
              }
              &.vina-rosa {
                background: color(vina-rosa);
              }
              &.elixir-cordis {
                background: color(elixir-cordis);
              }
            }
            .add-cart {
              padding: gratio(3);
              padding-left: gratio(6);
              font-size: 0;
              outline: 1px solid rgba(white, 1);
              outline-offset: - gratio(2);
              span {
                @include inline-block(80%, middle);
                color: white;
                font-size: gratio(3);
              }
              .img-container {
                @include inline-block(15%, middle);
                margin-left: gratio(2);
                img {
                  width: gratio(4);
                }
              }
            }
          } // botellas delgadas
          &.slim {
            img {
              // height: calc(100vh + 200px); // margin-bottom: - gratio(9);
            }
          }

          .stain {
            @include z-index(negative-underground);
            position: relative;
            transition: 4s ease;
            opacity: 0;
            transform: translateY(- gratio(0));
            img {
              // @include absolute-center(true, false);
              position: absolute;
              padding-left: gratio(4);
              width: 120%;
              bottom: gratio(0);
              &.noble-cru {
                left: -2.3rem;
                transform: translateY(-100px);
              }
              &.positivo {
                left: -3rem;
                transform: translateY(-21px);
              }
              &.confabulario {
                width: 150%;
                left: -7rem;
                transform: translateY(-200px);
              }
              &.vina-rosa {
                width: 350px;
                left: -4rem;
                transform: translateY(-250px);
              }
              &.elixir {
                width: 350px;
                transform: rotate(16deg) translateY(-328px);
                left: -7.5rem;
              }
            }
          }
          &:hover {
            .stain {
              display: block;
              opacity: 1;
              transform: translateY(- gratio(4));
              img {
                // bottom: gratio(7);
              }
            }
          }
        }
      }
    }
  }
}