section.single-product {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 233px);
  height: auto;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  @include z-index(first-level);
  section.content {
    // height: calc(100vh - 59px);
    // max-height: calc(100vh - 59px); // background: rgba(red, 0.2);
    font-size: 0; // padding: gratio(3);
    .image {
      @include inline-block(30%, top);
      position: relative;
      height: 100vh;
      z-index: 1;
      img {
        &#featSeal {
          @include z-index(first-level);
          position: fixed;
          width: gratio(8);
          transform: translatex(8rem);
        }
        &#featImage {
          @include z-index(underground);
          height: 120vh;
          top: - gratio(7);
          position: fixed;
        }
        &#featStain {
          @include z-index(negative-underground);
          position: fixed;
          transform: translatex(-4rem) translateY(7rem);
          width: rem(380px);
        }
      }
    }
    section.product-details {
      @include inline-block(70%, top);
      font-size: gratio(3); // width: gratio(11);
      height: auto;
      padding: gratio(3);
      overflow-x: hidden;
      overflow-y: hidden;
      section.title-price {
        margin-bottom: gratio(3);
        h1#product-name {
          font-size: gratio(7); // margin-bottom: gratio(3);
          margin-top: gratio(4);
          display: inline-block;
        }
        #price {
          font-size: gratio(5);
          color: color(red);
          small {
            font-size: gratio(3);
            display: inline-block;
            vertical-align: super;
            font-weight: 400;
          }
        }
      }
      section.add-cart {
        font-size: 0;
        margin-bottom: gratio(7);
        span.qty {
          @include inline-block(auto, top);
          font-size: gratio(3);
        }
        input {
          @include inline-block(auto, middle);
          @include button(white, blueberry);
          padding: 0;
          outline: 1px solid rgba(black, 1);
          outline-offset: - gratio(2);
          text-align: center;
          font-size: gratio(4);
          width: gratio(7);
          height: rem(55px);
          margin-left: gratio(3);
          &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            font-size: gratio(4);
          }
          &::-moz-placeholder {
            /* Firefox 19+ */
            font-size: gratio(4);
          }
          &:-ms-input-placeholder {
            /* IE 10+ */
            font-size: gratio(4);
          }
          &:-moz-placeholder {
            /* Firefox 18- */
            font-size: gratio(4);
          }
        }
        a {
          @extend .ripple;
          @include button(color(blueberry), white);
          @include inline-block(auto, middle);
          background: color(blueberry);
          outline: 1px solid rgba(white, 1);
          outline-offset: - gratio(2);
          font-size: gratio(3);
          text-shadow: none;
          &:hover {
            @include boxShadowBig();
            transform: translateY(- gratio(0));
          }
          span {
            // display: block;
          }
        }
        img {
          @include inline-block(25%, middle);
          text-align: right;
          width: gratio(4); // position: absolute;
          // right: gratio(3);
        }
      }
      section.product-specs {
        margin-bottom: gratio(6);
        font-size: 0;
        section.metrics {
          margin-bottom: gratio(8);
          position: relative;
          img.ornament {
            position: absolute;
            &.big-grape {
              width: 18.5625rem;
              right: -5.4375rem;
              top: -2.125rem;
              transform: rotate(12deg);
            }
            &.leaf-8 {
              width: 6.3125rem;
              right: 13.4375rem;
              top: 14.125rem;
            }
            &.leaf-5 {
              width: 3.3125rem;
              right: 7.4375rem;
              top: 7.125rem; // transform: rotate(90deg);
            }
            &.herbs {
              width: gratio(9);
              right: 7.4375rem;
              top: 7.125rem;
            }
          }
          #intensity {
            @include inline-block(50%, bottom);
            height: rem(86px);
            margin-bottom: gratio(5);
            .img-container {
              @include inline-block(gratio(6), bottom);
              text-align: left;
              img {
                width: 90%;
                height: auto;
              }
            }
            .content {
              @include inline-block(290px, bottom);
              h3 {
                font-size: gratio(4);
                margin-bottom: gratio(3);
              }
              .bar {
                height: gratio(3);
                width: 100%;
                background: color(intensity-gradients);
                position: relative;
                #intensityBarLevel {
                  position: absolute;
                  left: 0;
                  width: 30%;
                  display: block;
                  border-right: 2px solid color(blueberry);
                  height: gratio(5);
                  transform: translateY(- gratio(2));
                }
              }
            }
          }
          #type-grape {
            // @include inline-block(auto, bottom);
            height: gratio(7);
            h2 {
              font-size: gratio(4);
              margin-bottom: gratio(3);
            }
            .grape {
              @include inline-block(gratio(8), bottom);
              margin-right: gratio(4);
              font-size: 0;
              .grape-img {
                @include inline-block(gratio(6), bottom);
                height: gratio(6);
                background-size: contain;
                background-repeat: no-repeat;
                &.cabernet {
                  background-image: url("../img/grapes/tinto2.svg");
                }
                &.tempranillo {
                  background-image: url("../img/grapes/rosado3.svg");
                }
              }
              .grape-specs {
                @include inline-block(50%,
                top);
                height: 50px;
                padding-left: gratio(1);
                h3.grapeValue {
                  font-size: gratio(5);
                  line-height: 0.8;
                }
                span.grapeName {
                  font-size: gratio(3);
                }
              }
            }
          }
        }
        section.general-info {
          @include inline-block(80%,
          top);
          margin-bottom: gratio(6);
          position: relative;
          .img-container {
            @include inline-block(auto,
            middle);
            min-width: rem(34px);
            position: relative;
            img {
              width: gratio(5);
              filter: contrast(120%) opacity(100%);
              &.kindaBigger {
                width: 2.5rem;
                position: absolute;
              }
            }
          }
          .content {
            @include inline-block(80%,
            top);
            padding-left: gratio(4);
            h2 {
              font-size: gratio(5);
              margin-bottom: gratio(3);
            }
            p {
              font-size: gratio(3);
              ul {
                li {
                  list-style: initial;
                  margin-left: gratio(3);
                  margin-bottom: gratio(2);
                  &::first-letter {
                    text-transform: capitalize;
                  }
                }
              }
            }
          }
          img.ornament {
            position: absolute;
            &.leaf-6 {
              width: 4.3125rem;
              right: -6.5625rem;
              top: 3.125rem;
              transform: rotate(60deg);
            }
            &.leaf-7 {
              width: 3.3125rem;
              right: -0.5625rem;
              top: 8.125rem;
              transform: rotate(260deg);
            }
            &.herbs {
              width: 16.5625rem;
              right: - gratio(9);
              top: - gratio(7);
              transform: rotate(-60deg);
            }
            &.baby-tomatoes {
              width: 7.5625rem;
              right: -2.5625rem;
              top: -8rem;
              transform: rotate(-39deg);
            }
            &.olive-branch {
              width: 16.5625rem;
              right: 4.4375rem;
              top: -12rem;
              transform: rotate(-79deg);
            }
            &.lamb {
              width: 19.5625rem;
              right: -15.5625rem;
              bottom: -5rem;
              transform: rotate(-84deg);
            }
            &.mushrooms-sliced {
              width: 5.5625rem;
              right: -3.5625rem;
              bottom: -5rem;
              transform: rotate(-35deg);
            }
            &.cheese-slice {
              width: 13.5625rem;
              right: 1.4375rem;
              bottom: 1rem;
              transform: rotate(-5deg);
            }
            &.crumbs2 {
              width: 3.5625rem;
              right: 0.4375rem;
              bottom: 0rem;
            }
            &.crumbs3 {
              width: 3.5625rem;
              right: -6.5625rem;
              top: -11rem;
            }
            &.meat-table {
              width: 19.5625rem;
              left: 0;
              bottom: -5rem;
              transform: rotate(43deg);
            }
            &.peppermint {
              right: -7rem;
            }
          }
        }
        section.info-tec {
          @include inline-block(50%,
          top); // margin-top: gratio(6);
          margin-bottom: gratio(6); // background: rgba(color(wood), 1);
          border: 1px solid rgba(color(blueberry), 0.8);
          outline: 3px solid rgba(color(blueberry), 1);
          outline-offset: - gratio(2);
          padding: gratio(5);
          h2 {
            font-size: gratio(4);
            margin-bottom: gratio(3);
            font-style: italic;
          }
          p {
            font-size: gratio(3);
            ul {
              li {
                list-style: initial;
                margin-left: gratio(3);
                margin-bottom: gratio(2);
                &::first-letter {
                  text-transform: capitalize;
                }
              }
            }
          }
        }
      }
    }
  }
}

section.presentation-card {
  @include z-index(modal);
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  text-align: center; // background: color(blueberry);
  background-image: url("../img/sf-background3.jpg");
  background-size: cover;
  svg {
    width: 70%;
    height: 100%;
    pointer-events: none;
    path {
      fill-opacity: 0;
      transition: 4s ease;
      transition-delay: 3s;
    }
    &.start {
      path {
        fill-opacity: 1; // -webkit-animation: color-change-2x 3.5s linear 3s forwards;
        // animation: color-change-2x 3.5s linear 3s forwards;
      }
    }
  }
}

@-webkit-keyframes color-change-2x {
  0% {
    fill-opacity: 0;

    fill: transparent;
  }
  100% {
    fill-opacity: 1;
    fill: #232734;
  }
}

@keyframes color-change-2x {
  0% {
    fill-opacity: 0;

    fill: transparent;
  }
  100% {
    fill-opacity: 1;
    fill: #232734;
  }
}

#to-delete {}