body.page-template-page-store {
  section.main-container {
    section.content {
      font-size: fgratio(1);
      white-space: normal;
      h1.section-header {
        @include before-line(color(blueberry));
        @include after-line(color(blueberry));
        font-size: fgratio(3);
        margin-top: gratio(4);
        margin-bottom: gratio(7);
      }
      .category-block {
        margin-bottom: gratio(7);
        position: relative;
        h1 {
          @include inline-block(gratio(7), top);
          font-size: fgratio(2);
          color: rgba(color(purple), 1);
          span {
            display: block;
          }
        }
        .catalogs {
          @include inline-block(85%, top);
          font-size: 0;
          padding-left: gratio(6);
          .wine {
            @include inline-block(33.33%, middle);
            font-size: 0;
            margin-bottom: gratio(5);
            &:hover {
              .img-container {
                img {
                  &.wineWatercolor {
                    opacity: 1;
                  }
                }
              }
            }
            .img-container {
              @include inline-block(25%, top);
              position: relative;
              img {
                &.wineBottle {
                  width: 100%;
                  height: auto;
                  position: relative;
                  z-index: 2;
                }
                &.wineWatercolor {
                  position: absolute;
                  width: rem(120px);
                  height: auto;
                  bottom: 0;
                  left: rem(-36px);
                  z-index: 1;
                  opacity: 0;
                  transition: .2s ease;
                }
              }
            }
            .wine-specs {
              @include inline-block(75%, top);
              font-size: fgratio(1);
              padding-left: gratio(2);
              h2.wine-name {
                font-size: fgratio(3);
                margin-bottom: gratio(1);
              }
              .wine-price {
                font-size: gratio(4);
                color: color(red);
                display: block;
                margin-bottom: gratio(3);
              }
              a.wine-details {
                @extend .ripple;
                @include button(color(blueberry), white);
                background: color(blueberry);
                outline: 1px solid rgba(white, 1);
                outline-offset: - gratio(2);
                font-size: fgratio(1);
                text-shadow: none;
                text-decoration: none;
                opacity: 0;
                transition: 0.2s ease;
                &:hover {
                  @include boxShadowBig();
                  transform: translateY(- gratio(0));
                }
              }
            }
            &:hover {
              a.wine-details {
                opacity: 1;;
              }
            }
          }
        }
        img.temporary {
          position: relative;
          top: -13rem;
          width: 6rem;
          left: 8rem;
        }
        img.ornament {
          position: absolute;
          z-index: -10;
          &.branch-4 {
            width: 10.5625rem;
            right: 8.2375rem;
            top: 17.425rem;
            transform: rotate(12deg);
          }
          &.grapes {
            width: 26.3125rem;
            right: 0;
            top: 2.875rem;
          }
          &.leaf-2 {
            width: 6.5625rem;
            right: 37.5625rem;
            top: 18.125rem;
            transform: rotate(-60deg);
          }
          &.leaf-6 {
            width: 7.5625rem;
            right: 23.4375rem;
            top: 13.125rem;
            transform: rotate(135deg);
          }
          &.leaf-7 {
            width: 6.3125rem;
            right: 7rem;
            top: 21.875rem;
            transform: rotate(135deg);
          }
          /*&.olives-1 {
            width: 22.5625rem;
            right: 5.5625rem;
            top: 2.125rem;
            transform: rotate(20deg);
          }
          &.olives-2 {
            width: 17.5625rem;
            right: 59.4375rem;
            top: 10.875rem;
            transform: scaleX(-1) scaleY(-1) rotate(-90deg);
          }
          &.olives-3 {
            width: 18.5625rem;
            right: 10.4375rem;
            top: 17.125rem;
            transform: rotate(-60deg);
          }*/
          &.olives-4 {
            width: 7.5625rem;
            right: 70.4375rem;
            top: -6.125rem;
            transform: rotate(0deg);
          }
          &.olives-5 {
            width: 7.5625rem;
            right: 52.4375rem;
            top: 23.125rem;
            transform: rotate(50deg);
          }
          &.branch-1 {
            width: 4.3125rem;
            right: 2rem;
            top: 6.875rem; // transform: rotate(90deg);
            transform: rotate(45deg);
          }
          &.branch-2 {
            width: 4.5625rem;
            right: 52.4375rem;
            top: 8.125rem;
          }
          &.branch-3 {
            width: 5.3125rem;
            right: 14rem;
            top: 2.125rem; // transform: rotate(90deg);
            transform: rotate(45deg);
          }
          &.olive-branch4 {
            width: 5.3125rem;
            right: 50rem;
            top: 10.875rem; // transform: rotate(90deg);
          }
          /*
          &.mint {
            width: 7.3125rem;
            right: 2rem;
            top: -4.875rem; // transform: rotate(90deg);
            transform: rotate(45deg);
          }
          &.peppermint {
            width: 10.3125rem;
            right: 46rem;
            top: 10.875rem; // transform: rotate(90deg);
            transform: scaleY(-1);
          }
          &.rosemary {
            width: 8.5625rem;
            right: 8.4375rem;
            top: 6.125rem;
            transform: scaleY(-1) rotate(-105deg);
          }
          &.lavender {
            width: 20.5625rem;
            right: 60rem;
            top: 19.125rem;
            transform: rotate(65deg);
          }*/
        }
      }
    }
    section.sidebar {
      margin-top: 0;
      position: relative;
    }
  }
}