body.page-template-page-store, body.page-template-page-storev2 {
  section.main-container {
    section.content {
      @include respond-to(small large) {
        @include inline-block(100%, top);
        padding: gratio(3);
      }
      font-size: fgratio(1);
      white-space: normal;
      h1.section-header {
        @include before-line(color(blueberry));
        @include after-line(color(blueberry));
        font-size: fgratio(3);
        margin-top: gratio(4);
        margin-bottom: gratio(7);
      }
      .category-block {
        @include respond-to(small large) {
          margin-bottom: gratio(5);  
        }
        margin-bottom: gratio(7);
        position: relative;
        h1 {
          @include inline-block(auto, top);
          @include respond-to(small large) {
            margin-bottom: gratio(5);
          }
          border: 1px solid rgba(color(blueberry), 0.8);
          outline: 3px solid rgba(color(blueberry), 1);
          outline-offset: - gratio(2);
          padding: gratio(3) gratio(4);
          font-size: fgratio(2);
          &.monovarietals {
            span {
              @include respond-to(small large) {
                display: none;
              }
              display: inline-block;
              &.second-part {
                display: block;
                @include respond-to(small large) {
                  display: inline-block;
                }
              }
            }
          }
          span {
            display: block;
            @include respond-to(small large) {
              display: inline-block;
            }
          }
        }
        .catalogs {
          @include inline-block(85%, top);
          @include respond-to(small large) {
            padding-left: 0;  
          }
          @include respond-to(small medium) {
            width: 100%; 
          }
          font-size: 0;
          padding-left: gratio(6);
          .wine {
            @include respond-to(small large) {
              @include inline-block(50%, top);  
            }
            @include inline-block(33.33%, middle);
            font-size: 0;
            margin-bottom: gratio(5);
            position: relative;
            &:hover {
              .img-container {
                .imgWatercolor-container {
                  display: block;
                  opacity: 1;
                  transform: translateY(- gratio(4));
                  img {
                    // bottom: gratio(7);
                  }
                }
              }
            }
            .img-container {
              @include respond-to(small large) {
                @include inline-block(40%, top);  
              }
              @include inline-block(25%, top);
              position: relative;
              img {
                &.wineBottle {
                  width: 100%;
                  height: auto;
                  position: relative;
                  z-index: 2;
                }
              }
              .imgWatercolor-container {
                @include z-index(negative-underground);
                position: relative;
                transition: 0.5s ease;
                opacity: 0;
                transform: translateY(- gratio(0));
                .wineWatercolor {
                  position: absolute;
                  width: rem(120px);
                  height: auto;
                  bottom: 0;
                  left: rem(-36px);
                  transform: translateY(- gratio(0));
                  &.elixir {
                    width: rem(140px);
                  }
                  &.noble {
                    width: rem(100px);
                    left: rem(-18px);
                  }
                  &.positivo {
                    width: rem(90px);
                    left: rem(-12px);
                  }
                  &.positivo {
                    width: rem(90px);
                    left: rem(-12px);
                  }
                  &.confabulario {
                    width: rem(150px);
                    left: rem(-57px);
                  }
                  &.rosa {
                    left: rem(-26px);
                  }
                }
              }
            }
            .wine-specs {
              @include respond-to(small large) {
                @include inline-block(60%, top);
              }
              @include inline-block(75%, top);
              font-size: fgratio(1);
              padding-left: gratio(2);
              position: relative;
              z-index: 2;
              h2 {
                @include respond-to(small large)  {
                  font-size: fgratio(2);
                  overflow-wrap: break-word;
                  word-wrap: break-word;
                  -ms-hyphens: auto;
                  -moz-hyphens: auto;
                  -webkit-hyphens: auto;
                  hyphens: auto;
                }
                font-size: fgratio(3);
                margin-bottom: gratio(1);
                color: color(blueberry);
              }
              .price {
                font-size: gratio(4);
                color: color(red);
                display: block;
                margin-bottom: gratio(3);
              }
              a.wine-details {
                @extend .ripple;
                @include button(color(blueberry), white);
                background: color(blueberry);
                outline: 1px solid rgba(white, 1);
                outline-offset: - gratio(2);
                font-size: fgratio(1);
                text-shadow: none;
                text-decoration: none;
                opacity: 0;
                &:hover {
                  @include boxShadowBig();
                  transform: translateY(- gratio(0));
                }
                * {
                  transition: 0.2s ease;
                }
              }
            }
            &:hover {
              a.wine-details {
                opacity: 1;;
              }
            }
            &:hover {
              a.button {
                opacity: 1;;
              }
            }
            a.button {
              @extend .ripple;
              @include button(color(blueberry), white);
              background: color(blueberry);
              outline: 1px solid rgba(white, 1);
              outline-offset: - gratio(2);
              font-size: fgratio(1);
              text-shadow: none;
              text-decoration: none;
              opacity: 0;
              position: absolute;
              left: gratio(5);
              bottom: gratio(6);
              z-index: 4;
              @include respond-to(small medium) {
                padding: gratio(2);
                left: 4rem;
                bottom: gratio(4);
                width: 5rem;
              }
              &:hover {
                @include boxShadowBig();
                transform: translateY(- gratio(0));
              }
              * {
                transition: 0.2s ease;
              }
            }
          }
        }
        img.temporary {
          position: relative;
          top: -13rem;
          width: 6rem;
          left: 8rem;
        }
        img.ornament {
          position: absolute;
          z-index: -10;
          &.branch-4 {
            width: 10.5625rem;
            right: 8.2375rem;
            top: 17.425rem;
            transform: rotate(12deg);
            @include respond-to(small medium) {
              right: 3.2375rem; 
            }
          }
          &.grapes {
            width: 26.3125rem;
            right: 0;
            top: 2.875rem;
          }
          &.leaf-2 {
            width: 6.5625rem;
            right: 37.5625rem;
            top: 18.125rem;
            transform: rotate(-60deg);
          }
          &.leaf-6 {
            width: 7.5625rem;
            right: 23.4375rem;
            top: 13.125rem;
            transform: rotate(135deg);
          }
          &.leaf-7 {
            width: 6.3125rem;
            right: 7rem;
            top: 21.875rem;
            transform: rotate(135deg);
            @include respond-to(small medium) {
              right: 10rem;
              top: 15.875rem;
            }
          }
          &.olives-4 {
            width: 7.5625rem;
            right: 70.4375rem;
            top: -6.125rem;
            transform: rotate(0deg);
          }
          &.olives-5 {
            width: 7.5625rem;
            right: 52.4375rem;
            top: 23.125rem;
            transform: rotate(50deg);
          }
          &.branch-1 {
            width: 4.3125rem;
            right: 2rem;
            top: 6.875rem; // transform: rotate(90deg);
            transform: rotate(45deg);
          }
          &.branch-2 {
            width: 4.5625rem;
            right: 52.4375rem;
            top: 8.125rem;
          }
          &.branch-3 {
            width: 5.3125rem;
            right: 14rem;
            top: 2.125rem; // transform: rotate(90deg);
            transform: rotate(45deg);
            @include respond-to(small medium) {
              right: 8rem;
              transform: rotate(0deg); 
            }
          }
          &.olive-branch4 {
            width: 5.3125rem;
            right: 50rem;
            top: 10.875rem; // transform: rotate(90deg);
          }
          /*
          &.mint {
            width: 7.3125rem;
            right: 2rem;
            top: -4.875rem; // transform: rotate(90deg);
            transform: rotate(45deg);
          }
          &.peppermint {
            width: 10.3125rem;
            right: 46rem;
            top: 10.875rem; // transform: rotate(90deg);
            transform: scaleY(-1);
          }
          &.rosemary {
            width: 8.5625rem;
            right: 8.4375rem;
            top: 6.125rem;
            transform: scaleY(-1) rotate(-105deg);
          }
          &.lavender {
            width: 20.5625rem;
            right: 60rem;
            top: 19.125rem;
            transform: rotate(65deg);
          }*/
        }
      }
    }
    section.sidebar {
      margin-top: 0;
      position: relative;
    }
  }
}