.top {
  section.alert {
    background: linear-gradient(to right, rgba(35, 39, 52, 0) 15%, rgba(35, 39, 52, 0.9) 45%, rgba(35, 39, 52, 0.9) 25%);
    padding: gratio(1) gratio(3);
    @include z-index(first-level);
    p {
      font-size: fgratio(1);
      color: white;
      text-align: right;
      .alert_icon {
        @include inline-block(gratio(4), middle);
      }
    }
    @include respond-to(small large) {
      background-color: color(blueberry);
      p {
        text-align: center;
      }
    }
  }
  section.top-bar {
    @include respond-to(small large) {
      position: relative;
      z-index: 2;
    }
    a.mobile-brand {
      @include respond-to(small large) {
        @include inline-block(50%, middle);
        @include translate3d(0px, -5px, 0);
        // transform: translateY(- rem(2px));
        padding: gratio(3);
        img {
          height: gratio(4);
        }
      }
      display: none;
    }
    nav {
      @include respond-to(small large) {
        @include inline-block(50%, top);
      }
      text-align: right;
      padding: gratio(3);
      background: rgba(#f4eadf, 0);
      transition: 1s ease;
      ul {
        &.disabled {
          li {
            &:first-child {
              display: none;
            }
          }
        }
        li {
          @include inline-block(auto, middle);
          @include respond-to(small large) {
            &.my-account, &#carrito {
              display: none;
            }
          }
          a {
            display: inline-block;
            text-decoration: none;
            color: black;
            margin-left: gratio(3);
            font-size: fgratio(1);
            pointer-events: none;
            cursor: pointer;
            &.cart {
              pointer-events: none;
              cursor: pointer;
              img {
                width: gratio(4);
              }
            }
          }
          &#mini-cart-trigger {
            @include respond-to(small large) {
              @include translate3d(0, -3px, 0);
  
            }
          }
          &#mobile-menu-trigger {
            display: none;
            @include respond-to(small large) {
              @include translate3d(0, -5px, 0);
              display: inline-block;
              img {
                margin-left: gratio(4);
                width: gratio(3);
              }
            }
          }
        }
      }
    }
  }
  &.sticky {
    width: 100%;
    height: auto;
    position: fixed;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 44%, rgba(244, 234, 223, 0.9) 63%, rgba(244, 234, 223, 0.9) 35%);
    z-index: 2;
    + .content, + .blog-single-post {
      @include respond-to(small large) {
        padding-top: 0;
      }
      padding-top: 55px;
    }
    section.alert {
      background: linear-gradient(to right, rgba(35, 39, 52, 0) 29%, rgba(35, 39, 52, 0.9) 54%, rgba(35, 39, 52, 0.9) 25%);
    }
    @include respond-to(small large) {
      position: relative;
      section.alert {
        background-color: color(blueberry);
      }
    }
  }
}
