section.top-bar {
  nav {
    text-align: right;
    padding: gratio(3);
    background: rgba(#f4eadf, 0);
    transition: 1s ease;
    ul {
      li {
        @include inline-block(auto, middle);
        a {
          display: inline-block;
          text-decoration: none;
          color: black;
          margin-left: gratio(3);
          font-size: gratio(3);
          &.cart {
            img {
              width: gratio(4);
            }
          }
        }
      }
    }
  }
  &.sticky {
    width: 100%;
    height: 55px;
    position: fixed;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 44%, rgba(244, 234, 223, 0.9) 63%, rgba(244, 234, 223, 0.9) 35%);
    z-index: 1;
    + .content, + .blog-single-post {
      padding-top: 55px;
    }
  }
}
