// display inline-block
@mixin inline-block($width, $align) {
  display: inline-block;
  width: $width;
  vertical-align: $align;
}

// circle with icon in middle
@mixin clircle-with-icon($containerSize, $containerColor, $iconHeight) {
  display: inline-block;
  width: $containerSize;
  height: $containerSize;
  border-radius: 50%;
  background: $containerColor;
  position: relative;
  img {
    height: $iconHeight;
    display: block;
    margin: 0 auto;
    @include centerer-absolute(true,
    true);
  }
}

// title bold
@mixin title-bold($size) {
  // font-family: 'Open Sans', sans-serif;
  font-size: $size;
  font-weight: 700;
}

// after line
@mixin after-line($color) {
  &:after {
    background: $color;
    margin-top: gratio(3);
    display: block;
    height: rem(2px);
    width: gratio(5);
    content: "";
  }
}

// z-index
@mixin z-index($key) {
  z-index: z-index($key);
}

// css triangles
@mixin triangle-before($dir, $size, $color) {

  width: 0;
  height: 0;
  content: ".";
  color: transparent;
  position: absolute;
  top: - $size;
  right: $size;

  @if $dir==top {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
  }
  @else if $dir==bottom {
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-top: $size solid $color;
  }
  @else if $dir==left {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-right: $size solid $color;
  }
  @else if $dir==right {
    border-top: $size solid transparent;
    border-bottom: $size solid transparent;
    border-left: $size solid $color;
  }
}


// tuncate text
@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// defaul links
@mixin default-link {
  text-decoration: none;
  color: color(grey-dark);
  &:hover {
    text-decoration: none;
  }
}

// center containers for all your needs
@mixin container($size) {
  max-width: $size;
  width: $size;
  margin: 0 auto;
}

// standar page container with breakpoints
@mixin page-container() {
  padding: 0 gratio(5);
  font-size: 0;
  @include respond-to(small wide) {
    @include container(100%);
  }
  @include respond-to(wide mega) {
    @include container(100%);
  }
  @include respond-to(mega) {
    @include container(1200px);
  }
}

// buttons
@mixin button($backColor, $textColor) {
  background-color: $backColor;
  color: $textColor;
  padding: gratio(3) gratio(4);
  border: 0;
  display: inline-block; // border-radius: 3px;
  transition: .1s ease;
  &:hover {
    background-color: darken($backColor, 5%);
  }
}

// text shadow
@mixin textShadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .20);
}

@mixin boxShadow {
  box-shadow: 0 1px 2px rgba(0, 0, 0, .20);
}
@mixin boxShadowBig {
  box-shadow: 0 15px 35px rgba(64, 64, 79, .15), 0 5px 15px rgba(0, 0, 0, .07);
}

// centering mixin
@mixin absolute-center($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
  @else if ($horizontal) {
    left: 50%;

    transform: translate(-50%, 0);
  }
  @else if ($vertical) {
    top: 50%;

    transform: translate(0, -50%);
  }
}