// breakpoints
$breakpoints: (
    'small' : 320px,
    'medium': 640px,
    'large' : 1024px,
    'wide'  : 1200px,
    'mega'  : 1400px
);

// super z-index
$z-index: (
  'modal'      : 200,
  'popover'    : 150,
  'navigation' : 100,
  'share-type' : 41,
  'share'      : 40,
  'click-catcher' : 30,
  'second-level' : 20,
  'first-level' : 10,
  'underground' : 0,
  'negative-underground' : -1
);

// proportions
$goldenProportions: (
    0 : rem(3px),
    1 : rem(5px),
    2 : rem(8px),
    3 : rem(16px),
    4 : rem(21px),
    5 : rem(34px),
    6 : rem(55px),
    7 : rem(89px),
    8 : rem(144px),
    9 : rem(233px),
    10 : rem(377px),
    11 : rem(610px),
    12 : rem(987px)
  );
$goldenFontProportions: (
    0 : rem(9.27px),
    1 : rem(15px),
    2 : rem(24.27px),
    3 : rem(39.27px),
    4 : rem(63.54px),
    5 : rem(102.81px)
  );

// brand color
$colors: (
  red    : hsla(345, 71%, 32%, 1),
  red-bright    : hsla(345, 100%, 32%, 1),
  purple    : hsla(323, 42%, 23%, 1),
  brown-light    : hsla(347, 46%, 23%, 1),
  brown-dark    : hsla(328, 20%, 17%, 1),
  wood    : hsla(31, 81%, 70%, 1),
  blueberry    : hsla(226, 20%, 17%, 1),
  white    : hsla(220, 10%, 94%, 1),
  noble-cru: #ed3237,
  confabulario: #0298da,
  elixir-cordis: #d2ab66,
  vina-rosa: #f4784f,
  mourvedre: #EBA179,
  cabernet-sauvignon: #CBA554,
  syrah: #AB88BE,
  baya-baya: #CACACA,
  petit-verdot: #A3A45A,
  o-positivo: hsla(335, 73%, 40%, 1),

  intensity-gradient: linear-gradient(to right, #FFD1B4,#FAAAAF,#ED889B,#EF5E90,#C54F8E,hsla(345, 100%, 32%, 1),#7B28A8,#671E87,#4B1963,#360D47),
  intensity-gradients: linear-gradient(to right, #FFD1B4, #ED889B, #97193D, #5D2649, #272C3B)
);
$colors-warm: #ed3528,#870626,#c5131c,#b53e24,#d84f5f,#f91106,#e8b70f,#d67227;